img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  border-radius: 360px;
}
body {
  background-color: black;
  font-family: "Roboto"
}
h1, h2, h3, h4, h5, h6, p, span {
  color: white;
  text-align: center;
}
.ads {
  width: 1px;
}
.list {
  position: relative;
  left: 25%;
}
.list ul {
  position: relative;
}
.list ul li {
  position: relative;
  left: 0;
  color: #fce4ec;
  list-style: none;
  margin: 2px 0;
  border-left: 2px solid #25db00;
  transition: 0.5s;
  cursor: pointer;
}
.list ul li:hover {
  left: 10px;
}
.list ul li span {
  position: relative;
  padding: 8px;
  padding-left: 12px;
  display: inline-block;
  z-index: 1;
  transition: 0.5s;
}
.list ul li:hover span {
  color: black;
}
.list ul li:before {
  content: "";
  position: absolute;
  width: 15%;
  height: 100%;
  background: #000cb3;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s;
}
.list ul li:hover:before {
  transform: scaleX(1);
}
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
a {
  color: #096ab3;
  text-decoration: none;
}
