.img-rainbow-border {
  display: block;
  margin-right: auto;
  margin-left: 5%;
  margin-top: 5%;
  float: left;
  width: 20%;
  border: 2px white solid;
  border-image: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red) 1;

  animation: 4s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}
@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

body {
  background-color: black;
  font-family: "Roboto"
}
h1, h2, h3, h4, h5, h6, p, span {
  color: white;
  text-align: center;
}
.ads {
  width: 1px;
}
.list {
  position: relative;
  left: 25%;
}
.list ul {
  position: relative;
}
.list ul li {
  position: relative;
  left: 0;
  color: #fce4ec;
  list-style: none;
  margin: 2px 0;
  border-left: 2px solid #25db00;
  transition: 0.5s;
  cursor: pointer;
}
.list ul li:hover {
  left: 10px;
}
.list ul li span {
  position: relative;
  padding: 8px;
  padding-left: 12px;
  display: inline-block;
  z-index: 1;
  transition: 0.5s;
}
.list ul li:hover span {
  color: black;
}
.list ul li:before {
  content: "";
  position: absolute;
  width: 15%;
  height: 100%;
  background: #000cb3;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s;
}
.list ul li:hover:before {
  transform: scaleX(1);
}
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
a {
  color: #096ab3;
  text-decoration: none;
}
.helpbutton {
  width: 100px;
  margin: 0 auto;
  display: block;
}

.countdown {
  display: flex;
  justify-content: space-around; /* Center the items horizontally */
  align-items: center;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.countdown-item {
  text-align: center;
}

.countdown-number {
  display: block;
  font-size: 36px; /* Adjust size as needed */
  font-weight: bold; /* Make the number bold */
  margin-bottom: 5px; /* Add some space between number and text */
}

.countdown-text {
  display: block;
  font-size: 18px;
  text-align: center; /* Center the text */
}


.noscript {
  padding: 16px;
  display: inline-block;
  background-color: #ff2121;
  width: 99%;
  left: -9px;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
}

.closebtn:hover {
  color: black;
}
    
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}
.gamepage {
  h3 {
    letter-spacing: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.loopinggif { 
  display: flex;
  flex-direction: horizontal;
  justify-content: space-around;
}
.loopinggif img {
  width: 70px;
}
.bottom-half {
  display: inline;
}

.wavy {
  position: relative;
}

.wavy span {
  position: relative;
  display: inline-block;
  color: #fff;
  font-size: 2em;
  text-transform: uppercase;
  animation: animate 2s ease-in-out infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
  0% {
      transform: translateY(0px);
  }

  20% {
      transform: translateY(-15px);
  }

  40%,
  100% {
      transform: translateY(0px);
  }
}
@font-face {
  font-family: myFirstFont;
  src: url(mogihaPen.ttf);
}
.custom-font {
  font-family: myFirstFont;
  color: white;
}